.container {
    background-color: var(--color-container);
    width: 1200px;
    border-radius: 15px;
    transition: all 0.3s ease;
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-direction: column;
    font-size: 18px;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--box-shadow-color);
}

.title {
    color: var(--color-primary);
    font-size: 28px;
    font-weight: bolder;
}

.degree{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.degree > span{
    font-weight:normal;

}

.description{
    padding-top:24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1280px) {
    .container {
        width:800px;
    }
}

@media (max-width: 1024px) {
    .degree{
        gap: 12px;
        flex-direction: column;
        
    }
    .container{
        width: 300px;
    }

}
