.container {
    background-color: var(--color-container);
    height: 125px;
    width: 375px;
    border-radius: 15px;
    transition: all 0.3s ease;
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-direction: column;
    font-size: 18px;
}


.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--box-shadow-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
    width: 1200px;
    padding-top: 24px;
    transition: all 0.3s ease;

}